.product-grid{ font-family: 'Poppins', sans-serif; }
.product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-new-label{
    color: #fff;
    background-color: #6fc191;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50% 30%/60% 20%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.product-grid .product-links{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -50px;
    transition: all 0.4s;
}
.product-grid:hover .product-links{ right: 0; }
.product-grid .product-links li a{
    color:#fff;
    background: #77d0e4;
    font-size: 15px;
    text-align: center;
    line-height: 31px;
    width: 40px;
    height: 30px;
    border-radius: 20px 0 0 20px;
    display: block;
    position: relative;
    transition: all 350ms ease 0s;
    z-index: 1;
}
.product-grid .product-links li:nth-child(2) a{ background: #6fc191; }
.product-grid .product-links li a:hover{
    color: #fff;
    background-color: #000;
}
.product-grid .product-links li a:before,
.product-grid .product-links li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #282828;
    font-size: 12px;
    line-height: 22px;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    display: none;
    position: absolute;
    right: 55px;
    top: 0;
}
.product-grid .product-links li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    transform: translateX(20%) rotate(45deg);
    top: 8px;
    z-index: -1;
}
.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after{
    display: block;
}
.product-grid .product-content{ padding: 20px 0 0; }
.product-grid .rating{
    color: #fbb230;
    font-size: 13px;
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}
.product-grid .title{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 12px;
}
.product-grid .title a{
    color: #888;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #000; }
.product-grid .price{
    font-size: 13px;
    font-weight: 500;
    padding: 4px 10px 3px;
    border-radius: 20px;
    display: inline-block;
}
@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
}
